.footer {
    margin-top: 20px;
    color: #3e3e3e;
    a {
        color: #36b1ce;
    }
}
.footer__container {
    display: flex;
    height: 100%;
    align-items: flex-end;
}
.footer__item {
    position: relative;
    flex-grow: 1;
    margin-bottom: 30px;
}
.footer__item_blue-line:before{
    content: '';
    position: absolute;
    bottom: -5px;
    width: 4px;
    height: 40px;
    border-radius: 2px;
    background-color: #36b1ce;
}
.footer__item-lower {
    padding-left: 35px;
    margin-top: 30px;
}

.social {
    display: flex;
}

.social__item {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
.footer__item-lower__social {
    float: right;
}

@media only screen and (max-width: 768px) {
    .footer__container {
        flex-wrap: wrap;
    }
    .footer__item {
        width: 50%;
    }
    .footer__item-lower {
        padding-left: 15px;
    }
    .footer__item-lower__social {
        float: none;
    }
}