.gift__container {
    display: flex;
    .gift__item {
        display: flex;
        align-items: flex-end;
        height: 695px;
        flex-grow: 1;
        flex-basis: 0;
        background-size: cover;
        background-position: center;
    }
    .gift__item_1 {
        background-image: url('../img/gift/gift_1.jpg');
        .gift__text {
            background-color: rgba(7, 87, 154, .5);
        }
    }
    .gift__item_2 {
        background-image: url('../img/gift/gift_2.jpg');
        .gift__text {
            background-color: rgba(211, 28, 24, .5);
        }
    }
    .gift__item_3 {
        background-image: url('../img/gift/gift_3.jpg');
        .gift__text {
            background-color: rgba(229, 162, 0, .5);
        }
    }
    .gift__text {
        text-transform: uppercase;
        padding: 35px;
        height: 170px;
        font-size: 30px;
        position: relative;
        width: 100%;
        span {
            position: absolute;
            bottom: 75px;
          }
    }
}

@media only screen and (max-width: 768px) {
    .gift__container {
        .gift__item {
            height: 370px;
        }
        .gift__text {
            font-size: 18px;
            padding: 5px;
        }
    }
}