.myMulti {
    margin-bottom: 30px;
    height: 100%;
}

.logo {
    padding-top: 60px;
    width: 31vh;
    img {
        width: 100%;
        height: auto;
    }
}

.myMulti__container {
    height: 100%;
    background: #9eae2c; /* Old browsers */
    background: -moz-linear-gradient(left, #9eae2c 1%, #d2de79 13%, #d9e389 26%, #bfcf48 50%, #9dad2b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #9eae2c 1%,#d2de79 13%,#d9e389 26%,#bfcf48 50%,#9dad2b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #9eae2c 1%,#d2de79 13%,#d9e389 26%,#bfcf48 50%,#9dad2b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9eae2c', endColorstr='#9dad2b',GradientType=1 ); /* IE6-9 */
    .container {
        height: 100%;
        position: relative;
    }
}

.myMulti__top_phone {
    position: absolute;
    bottom: 30px;
    z-index: 1;
    width: 31vh;
    img {
        width: 100%;
        height: auto;
    }
}

.myMulti__hero {
    position: absolute;
    bottom: 40px;
    right: 0;
    background-image: url('../img/myMulti_couple.png');
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
    width: 70%;
    height: 100%;
}

.myMulti__hero-heading {
    font-size: 40px;
    text-transform: uppercase;
    text-align: right;    
    font-weight: bold;
    span {
        font-weight: 400;
    }
}

.myMulti__hero-position {
    position: absolute;
    bottom: 40px;
    right: 20px;
}

.myMulti__bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    padding: 15px 0px;
}

.buttons-container__first-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .button {
        margin: 0px 10px;;
    }
}

.download-now__text {
    text-transform: uppercase;
    font-size: 18px;
    color: #3e3e3e;
}

.iphone-horizontal__inner {
    background-image: url('../img/phone_top_bg.jpg');
}

@media only screen and (max-width: 768px) {
    .myMulti__hero {
        display: none;
    }
    .myMulti__top_phone {
        position: static;
        margin: 0 auto;
    }
    .logo {
        padding-top: 10px;
        margin: 0 auto;
        width: 31vh;
        max-width: none;
    }
    .buttons-container__first-section {
        flex-direction: column;
        .button {
            margin: 5px;
        }
    }
}