.treat {
    background-color: #f7b046;
    .container {
        height: 100%;
    }
}

.treat__container {
    position: relative;
}

.treat__container:after {
    content: '';
    display: table;
    clear: both;
}

.treat__girl {
    position: absolute;
    height: 100%;
    width: 60%;
    bottom: 0;
    left: 0;
    background-image: url('../img/treat-girl.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.treat__description {
    float: right;
    width: 36%;
    margin-top: 120px;
}

.treat__heading {
    font-size: 38px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 80px;
}
.treat__description-text {
    color: #3e3e3e;
    font-size: 16px;
    margin-bottom: 80px;
    line-height: 1.2;
}

.treat__download {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.treat__buttons {
    margin-bottom: 100px;
    justify-content: flex-start;
    .button {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .treat__heading {
        font-size: 34px;
        margin-bottom: 50px;
        text-align: center;
        max-width: none;
    }
    .treat__description {
        box-sizing: border-box;
        width: 100%;
        margin: 0 auto;
        padding: 20px 10px;
    }
    .treat__description-text {
        margin-bottom: 55px;        
    }
    .treat__buttons {
        margin-bottom: 50px;
        .button {
            margin:0px 10px;
        }
    }
    
    .treat__girl {
        display: none;
    }
    .treat__download{ 
        text-align: center;
    }
    .treat__buttons {
        justify-content: center;
        align-items: center;
    }
}

